.button {
    background-color: var(--tan);
    border: 2px solid white;
    border-radius: 0.5rem;
    color: var(--dark);
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.2rem 1rem;
    transition: all 0.4s ease-out;
}

.button:hover {
    background-color: white;
    cursor: pointer;
}

.buttons_center {
    display: flex;
    justify-content: center;
}